.header {
    display: grid;
    box-shadow: 0 0 21px rgb(54 60 66 / 30%);
    height: 80px;
    background-color: #363c42;
    width: 100%;
    grid-template-columns: 0fr minmax(auto, 300px) minmax(auto, 800px) minmax(auto, 300px) 0fr;
    /*grid-template-areas: "logo menu login";*/
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.header img {
    /*grid-area: logo;*/
    grid-column: 2/3;
    width: 50px;
    padding: 5px 10px ;
}

.loginBlock {
    grid-column: 4/5;
    padding: 5px;
    justify-self: end;
}
.loginBlock a {
    color: white;
}