
.header {
  display: flex;
  max-height: 200px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: #363c42;
  z-index: 5;
  .flexContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    flex-wrap: wrap;
    .header img {
      width: 40px;
    }

    .profileBlock {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .profile {
        display: flex;
        flex-direction: row;
        align-items: center;

        .ava {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: 2px solid white;
        }

        .name {
          margin:  0 10px;
          font-size: 16px;
          text-decoration: none;
          color: #dadada;
        }

      }
    }
  }

}


