

.messageBlock {
  min-height: 80px;
  background-color: #fff;
  box-shadow: 0 0 21px rgba(188, 194, 197, 0.7);
  border-radius: 7px;
  box-sizing: border-box;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;

  .messageUserBlock {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    .img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }



  }
  .username {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 5px;
    color: #2c3136;
    font-size: 16px;
    margin-left: 20px;
  }
  .message {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;
    color: #2a2e33;
    letter-spacing: 1px;
    word-break: break-word;
    line-height: 1.1em;
    text-align: justify;
  }
}