@import "../00-Common/styles/sass/mixins";
@import "../00-Common/styles/sass/variables";

.sideSection {
  @include flex(column, '', '', nowrap);
  gap: 30px;
  top: 90px;
  position: sticky;
  align-self: start;
  grid-column: 2/3;
  @media screen and (max-width: 930px){
    grid-column: 2/5;
    position: inherit;
  }
}