

.sideSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 110px;
  position: sticky;
  align-self: start;
  grid-column: 2/3;
  @media screen and (max-width: 1050px){
    grid-column: 2/5;
    position: inherit;
  }
}