.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 20px;
}

.dialogItems .active {
    color: red;
}

.messages {
padding: 20px;
}

.messages .message {

}