.header {
    background-color: #59db55;
    grid-area: h;
}

.header img {
    /*background-color: #428d26;*/
    width: 50px;
    padding: 5px 10px ;
}

.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}