
.messageBlock {
  min-height: 40px;
  background-color: #fff;
  box-shadow: 0 0 21px rgba(188, 194, 197, 0.7);
  border-radius: 7px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .nameData {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #d0d0d0;
    .name {
      font-size: 14px;
      font-weight: 800;
      padding-bottom: 5px;
    }

    .dateAdd {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }

  .message {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }

}

.left {
  margin-left: 10%;
  background-color: #effcee;
}

.right {
  margin-right: 10%;
  background-color: #fceeee;
}