.nav {
    background-color: #3d8832;
    grid-area: side;
    padding: 20px;
}

.inactiveLink{
    color: white;
    text-decoration: none;
}

.activeLink {
    color: black;
    text-decoration: none;
}