.nav {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #fff;
    box-shadow: 0 0 21px rgb(54 60 66 / 7%);
    border-radius: 7px;
    padding: 20px;
    height: 400px;
}

.inactiveLink{
    color: #565656;
    text-decoration: none;
}

.activeLink {
    color: black;
    text-decoration: none;
}