.App {
  display: grid;

  grid-template-areas:
  "h h"
  "n c"
;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
}
.header img {
  width: 60px;
}

.nav {
  grid-area: n;
}

.content {
  grid-area: c;
}