.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 20px;
}

.messages {
padding: 20px;
}

.messages .message {

}

.inactiveLink{
    color: #8484f1;
    text-decoration: none;
}

.activeLink {
    color: black;
    text-decoration: none;
}