

.LastMembers {
  align-self: start;
  grid-column: 2/3;
  grid-row: 2;
  background-color: #fff;
  box-shadow: 0 0 21px rgba(188, 194, 197, 0.7);
  border-radius: 7px;
  padding: 30px;
  //height: 400px;
  position: sticky;
  top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px
}