

.loginForm {

}
.buttonBlock {
    margin-top: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    .forgot {
        padding: 5px 0 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}