
.dialogBlock {
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  background-color: #ffffff;
  //width: 90%;
  box-sizing: border-box;
  min-width: 200px;
  .photoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 0;
    border-right: 1px solid #c9c9c9;
    cursor: pointer;
    position: relative;
    .userPhoto {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid grey;
      margin-bottom: 20px;
    }
    .online {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #3ec423;
      border: 1px solid grey;
      top: 32px;
      right: 14px
    }

  }


  .aboutBlock {
    width: 100%;
    margin-left: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .about {
      .name {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        font-size: 14px;
        padding-bottom: 3px;
        color: #424242;
        word-break: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        max-height: 3.1em;
        border-bottom: 1px solid #d3d3d3;
      }
      h6 {
        margin-bottom: 5px;
        font-size: 12px;
        color: #2c3136;
      }
      p {
        padding: 3px 0;
      }
    }
    .newMessages {
      font-size: 14px;
    }
  }
}