
.dialogBlock {
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  background-color: #ffffff;
  //width: 90%;
  box-sizing: border-box;

  .photoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 0;
    border-right: 1px solid #c9c9c9;
    cursor: pointer;
    .userPhoto {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid grey;
      margin-bottom: 20px;

    }

  }


  .aboutBlock {
    width: 100%;
    padding: 10px;

    .name {

      display: inline-block;
      width: 100%;
      margin-bottom: 5px;
      font-size: 18px;
      padding: 5px;
      color: #424242;
      word-break: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.3em;
      max-height: 3.1em;
      border-bottom: 1px solid #d3d3d3;
    }

    .status {
      word-break: break-word;
      color: #565656;
      padding: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-height: 1.2em;
      max-height: 5.2em;
    }
  }
}